main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  img {
    width: 100px;
  }

}