main {
  position: relative;
  padding: 40px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy {
  width: 80px;
  position: absolute;
  top: -30.5px;
  right: 10px;
  z-index: 10;
}

.buy:hover {
  cursor: pointer;
}

.forms-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid var(--blue);

    h2 {
      color: var(--violet);
      font-size: 26px;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 18px;

      input {
        border-color: var(--blue);
        height: 40px;
        font-size: 18px;
        font-family: 'afacad';
        width: 90%;
        padding: 5px;
      }

      .password-field {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        img:hover {
          cursor: pointer;
        }

        /* button {
          background: none;
          border: none;
        } */
      }

      a {
        color: var(--blue-highlight);
      }
    }
  }
}

.btn-register, .btn-login, .btn-new-register {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--light);
  border: none;
  padding: 5px;
  font-size: 18px;
}

.btn-register:hover, .btn-login:hover, .btn-new-register:hover {
  cursor: pointer;
}

.btn-register:active, .btn-login:active, .btn-new-register:active {
  transform: scale(0.95);
}

.forms-login form div input.valid {
  border: 2px solid var(--green-valid);
}

.forms-login form div input.invalid {
  border: 2px solid var(--red-invalid);
}

.new-register {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 2px solid var(--blue);
  font-size: 18px;

  h2 {
    color: var(--violet);
    font-size: 26px;
  }

  a {
    color: var(--blue-highlight);
    text-decoration: underline;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* font-size: 18px; */

    .radio-group {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      
      .radio-option {
        display: flex;
        gap: 10px;

        input {
          width: 20px;
        }
      }
    }

    .checkbox-option {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      cursor: pointer;
    }

    .checkbox-option input[type="checkbox"] {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-top: 3px;
    }

    input:not(input[type="radio"], input[type="checkbox"]) {
      border-color: var(--blue);
      height: 40px;
      font-size: 18px;
      font-family: 'afacad';
      width: 90%;
      padding: 5px;
    }

    .password-field {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      img:hover {
        cursor: pointer;
      }

      /* button {
        background: none;
        border: none;
      } */
    }
  }

  .btn-new-register {
    height: 60px;
  }
}

@media (min-width: 768px) {

  .buy {
    width: 100px;
    top: -37px;
    right: 30px;
  }

  .forms-login form {
    h2 {
      font-size: 32px;
    }

    div {
      font-size: 20px;

      input {
        font-size: 20px;
      }
    }
  }

  .btn-register, .btn-login, .btn-new-register {
    font-size: 20px;
  }

  .new-register {
    font-size: 20px;

    h2 {
      font-size: 32px;
    }
  } 

}

@media (min-width: 992px) {

  .buy {
    right: 50px;
  }

  .forms-login {
    flex-direction: row;
    max-width: none;

    form {
      width: 450px;

      h2 {
        font-size: 40px;
      }

      div {
        font-size: 22px;

        input {
          font-size: 22px;
          height: 50px;
        }
      }
    }

    .btn-register, .btn-login {
      font-size: 22px;
    }

    .register {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .new-register {
    font-size: 22px;
    
    h2 {
      font-size: 40px;
    }
  }

  .btn-new-register {
    font-size: 22px;
  }
}