main {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forms-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 2px solid var(--blue);

    h2 {
      color: var(--violet);
    }

    p {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
        border-color: var(--blue);
      }
    }
  }
}

.btn-register, .btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: var(--light);
  border: none;
  padding: 5px;
}

@media (min-width: 992px) {
  .forms-login {
    flex-direction: row;
    max-width: none;

    form {
      width: 450px;
    }

    .register {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }
}