body {
  min-height: 100vH;
}

main {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 18px;
  text-align: justify;
}

article a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  border: 1px solid var(--green);
  padding: 0 10px;
  background: none;
  color: var(--green);
  font-size: 18px;
}

article a:hover {
  border-color: var(--dark);
  color: var(--dark);
}

article a:active {
  transform: scale(0.95);
}

img {
  width: 100%;
}

@media (min-width: 768px) {

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

}

@media (min-width: 992px) {

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 22px;
  }

  img {
    max-width: 1000px;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  main article:first-of-type {
    grid-column: 1 / -1;
    align-items: flex-start;
    justify-self: center;
  }

}