body {
  min-height: 100vH;
}

main {
  position: relative;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 18px;
  text-align: justify;
}

button {
  width: 140px;
  height: 50px;
  border: 1px solid var(--green);
  padding: 0 10px;
  background: none;
  color: var(--green);
}

img {
  width: 100%;
}

@media (min-width: 768px) {

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }

}

@media (min-width: 992px) {

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 22px;
  }

  img {
    max-width: 1000px;
  }

}