main {
  position: relative;
  padding: 30px 0;
}

.shopping-cart>p {
  font-size: 18px;
  border: 1px solid var(--blue);
}

.cart-item {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--blue);
  border-top: none;
  position: relative;
}

.cart-item .plush {
  width: 100px;
  margin: 10px;
  border: 2px solid var(--blue);
  border-radius: 20px;
}

.cart-item .remove {
  width: 40px;
  position: absolute;
  top: 0;
  right: 10px;
}

.price {
  font-size: 26px;
  color: var(--green);
}

.quantity {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;

  p {
    font-size: 18px;
  }

  .quantity-button {
    display: flex;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      padding: 0 20px;
      border: 1px solid var(--blue);
      height: 40px;
      font-size: 18px;
    }

    .buttons {
      display: flex;
      flex-direction: column;

      button {
        border: none;
        background: none;
        height: 20px;
      }

      button:hover {
        cursor: pointer;
      }

      button:active {
        transform: scale(0.95);
      }
      
      img {
        width: 20px;
        border: 1px solid var(--blue);
      }
    }
  }
}

.payment {
  margin: 20px;
  border: 1px solid var(--blue);
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.articles, .transport, .total {
  display: flex;
  justify-content: space-between;

  p {
    display: flex;
    gap: 5px;
  }
}

.subtotal, .total, .payment-method {
  /* justify-content: space-between; */
  border: 1px solid var(--blue);
  padding: 20px;
}

.article-price, .transport-price, .total-price {
  color: var(--green);
  font-size: 26px;
}

.payment-method {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#checkout-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-option {
  display: flex;
  align-items: center;
  gap: 10px;

  input  {
    width: 20px;
    height: 20px;
  }
}

.btnCheckout {
  display: block;
  margin: 0 auto;
  padding: 5px 20px;
  background-color: var(--violet);
  color: var(--light);
  border: none;
  font-size: 18px;
}

.continue-shopping {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  button {
    /* width: fit-content; */
    padding: 0 24px;
    border-radius: 30px;
    border: none;
    background: var(--violet);
    cursor: pointer;
    font-size: 16px; 
    font-weight: bold;
    color: var(--light);
    /* box-shadow: 4px 2px 2px var(--dark); */
    display: flex;
    align-items: center;

    img {
      padding: 5px;
      width: 40px;
    }

  }

  button:hover {
    cursor: pointer;
  }

  button:active {
    /* box-shadow: -2px -2px 1px var(--dark); */
    transform: scale(0.95);
  }
}

@media (min-width: 768px) {

  .shopping-cart>p, .quantity p, .quantity .quantity-button span {
    font-size: 20px;
  }

  .price {
    font-size: 32px;
  }

  .continue-shopping button {
    font-size: 18px;
  }

}

@media (min-width: 992px) {

  .shopping-cart>p, .quantity p, .quantity .quantity-button span {
    font-size: 22px;
  }

  .price {
    font-size: 40px;
  }

  .continue-shopping button {
    font-size: 20px;
  }

}