:root {
    --dark: #0f0f0f;
    --light: #fdfdfd;
    --green: #7eb999;
    --yellow: #f6d636;
    --orange: #fbb54d;
    --violet: #e1b1ed;
    --blue: #b0bafb;
    --blue-search: #e1e4f9;
    --blue-highlight: #5170ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "afacad";
    src: url('../assets/fonts/afacad.ttf');
}

body {
    font-family: 'afacad';
}

/*    HEADER    */

header {
    background-color: var(--light);
    color: var(--dark);
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-bottom: 2px solid var(--dark);
}

.icon {
    width: 50px;
}

.logo {
    width: 200px;
    height: 150px;
}

.logo:hover {
    cursor: pointer;
}

.logo-header {
    display: flex;
    justify-content: space-between;
}

.header-icons {
    display: flex;
    align-items: center;

    img:hover {
        cursor: pointer;
    }
}

/*for later use*/
.search-bar {
    /* background-color: var(--blue-search);
    width: 100px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border: 1px solid;
    border-radius: 50px; */

    img {
        width: 40px;
    }
}

.header-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    li {
        text-align: center;
    }

    li:hover {
        cursor: pointer;
        transform: scale(1.1);
        color: var(--green);
        text-decoration: underline;
    }

    li:active {
        transform: scale(1);
    }
}

/*    FOOTER    */

footer {
    background-color: var(--blue);
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    p:hover, img:hover {
        cursor: pointer;
    }
}

.legal ul {
    display: flex;
    justify-content: center;
    gap: 20px;

    li {
        text-align: center;
    }

    li:hover {
        cursor: pointer;
    }
}

.copyright {
    text-align: center;
    padding-bottom: 20px;
}