:root {
    --dark: #0f0f0f;
    --light: #fdfdfd;
    --green: #7eb999;
    --yellow: #f6d636;
    --orange: #fbb54d;
    --violet: #e1b1ed;
    --blue: #b0bafb;
    --blue-search: #e1e4f9;
    --blue-highlight: #5170ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: "afacad";
    src: url('/Boci/assets/fonts/afacad.ttf');
}

body {
    font-family: 'afacad';
}

/*    HEADER    */

header {
    background-color: var(--light);
    color: var(--dark);
    padding-right: 20px;
    padding-bottom: 10px;
}

.icon {
    width: 50px;
}

.logo {
    width: 200px;
}

.logo-header {
    display: flex;
    justify-content: space-between;
}

.header-icons {
    display: flex;
    align-items: center;
}

.search-bar {
    background-color: var(--blue-search);
    width: 125px;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    border: 1px solid;
    border-radius: 50px;

    img {
        width: 30px;
    }
}

.header-menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/*    FOOTER    */

footer {
    background-color: var(--blue);
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

.copyright {
    text-align: center;
    padding-bottom: 20px;
}