main {
    padding-bottom: 50px;
}

.hero {
    width: 100%;
    height: 50vH;
    background-image: url('../assets/images/hero-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 50px;
    color: var(--dark);
    position: relative;

    div {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 28px;
        font-weight: bold;
        max-width: 600px;
        margin-bottom: 20px;
        text-align: center;
        -webkit-text-stroke: 6px var(--light);
        paint-order: stroke fill;
        color: var(--dark);
    }

    button {
        width: fit-content;
        padding: 12px 24px;
        border-radius: 30px;
        border: 1px solid var(--dark);
        background: var(--light);
        cursor: pointer;
        font-size: 16px; 
        font-weight: bold;
        color: var(--dark);
        box-shadow: 4px 2px 2px var(--dark);
    }

    button:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    button:active {
        box-shadow: -2px -2px 1px var(--dark);
    }
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--light);

    p {
        text-align: center;
        padding: 10px;
        border: 4px solid;
        font-size: 20px;
        color: var(--dark);
    }

    .peluches p {
        border-color: var(--violet);
    }

    .peluches-xl p {
        border-color: var(--yellow);
    }

    .llaveros p {
        border-color: var(--blue);
    }
}

.options img {
    width: 200px;
    border: 3px solid var(--green);
    border-radius: 25px;
}

.options img:hover, .options p:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.options img:active, .options p:active {
    transform: scale(1);
}

.slogan img {
    width: 100%;
}

.slogan {
    margin-bottom: -8px;
}

.descuento {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: var(--dark);

    h3 {
        font-size: 28px;
        font-weight: normal;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
}

.subscribete {
    background-color: var(--blue-search);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid var(--dark);
    font-weight: bold;
}

.subscribete:hover {
    cursor: pointer;
}

.scroll-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
}

.scrollbar {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .left{
        width: 50px;
    }

    .right {
        width: 50px;
    }

    .left:hover, .right:hover {
        cursor: pointer;
    }

    div {
        width: 200px;
        overflow: scroll;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.scrollbarItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    img {
        width: 200px;
        border: 3px solid var(--green);
        border-radius: 25px;
    }

    p {
        text-align: center;
        padding: 10px;
        border: 4px solid;
        font-size: 24px;
        border-color: var(--violet);
    }

    img:hover, p:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    img:active, p:active {
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    .options {
        flex-direction: row;
        justify-content: center;
    }

    .scrollbar {

        div {
            width: 420px;
        }

    }

}

@media (min-width: 992px) {

    .scrollbar {

        div {
            width: 660px;
        }

    }

}