/* .hero img {
    width: 100%;
} */
 .hero {
    width: 100%;
    height: 70vH;
    background-image: url('../assets/images/background-hero.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 50px;
    color: var(--dark);
    position: relative;

    div {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 32px;
        font-weight: bold;
        max-width: 600px;
        margin-bottom: 20px;
        text-align: center;
        -webkit-text-stroke: 8px var(--light);
        paint-order: stroke fill;
    }

    button {
        width: fit-content;
        padding: 12px 24px;
        border-radius: 30px;
        border: 1px solid var(--dark);
        background: var(--light);
        cursor: pointer;
        font-weight: 600;
        box-shadow: 4px 2px 2px var(--dark);
    }

    button:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    button:active {
        box-shadow: -2px -2px 1px var(--dark);
    }
 }

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}