main {
    padding-bottom: 50px;
}

.hero {
    width: 100%;
    height: 50vH;
    background-image: url('../assets/images/hero-image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 50px;
    color: var(--dark);
    position: relative;

    div {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    p {
        font-size: 28px;
        font-weight: bold;
        max-width: 600px;
        margin-bottom: 20px;
        text-align: center;
        -webkit-text-stroke: 6px var(--light);
        paint-order: stroke fill;
        color: var(--dark);
    }

    button {
        width: fit-content;
        padding: 12px 24px;
        border-radius: 30px;
        border: 1px solid var(--dark);
        background: var(--light);
        cursor: pointer;
        font-size: 16px; 
        font-weight: bold;
        color: var(--dark);
        box-shadow: 4px 2px 2px var(--dark);
    }

    button:hover {
        cursor: pointer;
    }

    button:active {
        box-shadow: -2px -2px 1px var(--dark);
        transform: scale(0.95);
    }
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--light);

    p {
        text-align: center;
        padding: 10px;
        font-size: 20px;
        color: var(--dark);
    }

    .peluches {
        border: 3px solid var(--violet);
        border-radius: 25px;
    }

    .peluches-xl {
        border: 3px solid var(--yellow);
        border-radius: 25px;
    }

    .llaveros {
        border: 3px solid var(--blue);
        border-radius: 25px;
    }
    .peluches:hover, .peluches-xl:hover, .llaveros:hover {
        border-color: var(--dark);
        cursor: pointer;
    }

    .peluches:active, .peluches-xl:active, .llaveros:active {
        transform: scale(0.95);
    }
}

.options img {
    width: 200px;
    border-radius: 25px;
}

.slogan img {
    width: 100%;
    /* max-height: 100vH; */
}

.slogan {
    margin-bottom: -8px;
}

.descuento {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    color: var(--dark);

    h2 {
        font-size: 28px;
        font-weight: normal;
        text-align: center;
    }

    p {
        font-size: 18px;
        text-align: center;
    }
}

.subscribete {
    background-color: var(--blue-search);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid var(--dark);
    font-weight: bold;
}

.subscribete:hover {
    cursor: pointer;
}

/* .scroll-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    color: var(--dark);
}

.scrollbar {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .left{
        width: 50px;
    }

    .right {
        width: 50px;
    }

    .left:hover, .right:hover {
        cursor: pointer;
    }

    div {
        width: 220px;
        overflow: scroll;
        scrollbar-width: none;
    }

    div::-webkit-scrollbar {
        display: none;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.scrollbarItem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 3px solid var(--green);
    border-radius: 25px;
    
    img {
        width: 200px;
        border-radius: 25px;
    }

    p {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }

    &:hover {
        cursor: pointer;
        border-color: var(--dark);
    }

    &:active {
        transform: scale(0.95);
    }
} */

@media (min-width: 768px) {

    .hero {
        height: 70vH;

        p {
            font-size: 32px;
        }

        button {
            font-size: 18px;
        }
    }

    .options {
        flex-direction: row;
        justify-content: center;

        p {
            font-size: 24px;
        }
    }

    .descuento h2 {
        font-size: 32px;
    }

    .descuento p {
        font-size: 20px;
    }

    .scrollbar div {
        width: 450px;
    }

    .scrollbarItem p {
        font-size: 24px;
    }
}

@media (min-width: 992px) {

    .hero {
        height: 100vH;
        
        p {
            font-size: 40px;
        }
        
        button {
            font-size: 20px;
        }
    }

    .options p, .scrollbarItem p {
        font-size: 32px;
    }

    .descuento h2 {
        font-size: 40px;
    }

    .descuento p {
        font-size: 22px;
    }

    .scrollbar div {
        width: 680px;
    }
}