main {
    position: relative;
}

.products {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: var(--light);
}

.peluches {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--dark);
    border: 3px solid var(--green);
    border-radius: 25px;
    
    img {
        width: 200px;
        border-radius: 25px;
    }

    p {
        text-align: center;
        padding: 10px;
        font-size: 20px;
    }

    &:hover {
        cursor: pointer;
        border-color: var(--dark);
    }

    &:active {
        transform: scale(0.95);
    }
}

@media (min-width: 768px) {

    .peluches p {
        font-size: 24px;
    }
}

@media (min-width: 992px) {

    .peluches p {
        font-size: 32px;
    }
}