<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" href="../assets/images/logo.svg" type="svg">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/about.css">
</head>
<body>
  <header>
        <div class="logo-header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.svg" alt="logo">
            </a>
            <nav class="header-icons">
                <img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon">
                <!-- <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div> -->
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blog.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <img src="../assets/icons/cart-icon.svg" alt="buy-icon" class="buy"> -->
        <h1>SOBRE NOSOTROS</h1>
        <div class="text">
            <p>Boci nace en 2025 en el corazón de Menorca, fruta de un sueño sencillo: transformar la magia, los colores y las tradiciones de la isla en peluches capaces de despertar ternura y recuerdos en quienes los abrazan. Lo que comenzó como un proyecto, pronto se conviertó en una aventura apasionante, impulsado por el amor por la cultura menorquina y los pequeños detalles que hacen de esta tierra un lugar único.</p>
            <p>¿Por qué elegir Boci?</p>
            <p>No afirmamos ser los mejores, pero sí podemos decir que ponemosel corazón en cada puntada. Cada peluche es revisado con el máximo cuidado, sometido a controles de calidad rigurosos y fabricados en colaboración con artesanos y proveedores europeos que comparten nuestros valores: autenticidad, creatividad y respeto por la tradición.</p>
            <p>Nuestro objetivo es sencillo: enamorar a cada uno de vosotros con peluches llenos de alma, color y tradición. Queremos que Boci llegue a hogares de todos partes llevando alegría, sorpresa y un toque de Menorca allí donde vaya.</p>
            <p>Gracias por estar aquí y formar parte de esta pequeña gran familia.</p>
            <p>Boci.es</p>
        </div>
        <div class="images">
            <img src="../assets/images/example-image2.svg" alt="example-image2">
            <img src="../assets/images/example-image5.svg" alt="example-image5">
            <img src="../assets/images/example-image3.svg" alt="example-image3">
            <img src="../assets/images/example-image1.svg" alt="example-image1">
            <img src="../assets/images/example-image4.svg" alt="example-image4">
        </div>
        <button class="btnShoppingCart">
            <img src="../assets/icons/shopping-bag-icon.svg" alt="shopping-bag-icon">
        </button>
    </main>
    <footer>
        <div class="links">
            <div>
                <h3>MI CUENTA</h3>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h3>SIGUENOS</h3>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h3>INFORMACIÓN LEGAL</h3>
            <ul>
                <li><p>Como comprar</p></li>
                <li><p>Envíos y devoluciones</p></li>
                <li><p>Aviso legal y política de privacidad</p></li>
                <li><p>Política de cookies</p></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/common.js"></script>
    <script src="../js/about.js"></script>
</body>
</html>