<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs</title>
  <link rel="icon" href="../assets/images/logo.svg" type="svg">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/blogs.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.svg" alt="logo">
            </a>
            <nav class="header-icons">
                <!-- <a href="../backend/forms/form_login.php"><img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon"></a> -->
                <!-- <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div> -->
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blogs.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <a href="../backend/forms/form_login.php"><img src="../assets/icons/profile-icon-black.svg" alt="buy-icon" class="buy"></a>
      <!-- <a href="./blog.html"> -->
        <article class="headliner">
            <img src="../assets/images/blog-images/blog-1-1.svg" alt="image-blog">
            <p>20/04/2026</p>
            <h2>Qué comprar en Menorca: souvenirs originales que sí valen la pena</h2>
            <a href="./blog.html">READ MORE</a>
        </article>
      <!-- </a> -->
      <article>
        <img src="../assets/images/blog-images/blog-2-1.svg" alt="image-blog">
        <p>20/04/2026</p>
        <h2>¿Por qué los adultos segimos comprando peluches?</h2>
        <a href="./blog2.html">READ MORE</a>
      </article>
      <article>
        <img src="../assets/images/blog-images/blog-3-1.svg" alt="image-blog">
        <p>20/04/2026</p>
        <h2>Souvenirs con historia: cómo elegir recuerdos auténticos de tus viajes</h2>
        <a href="./blog3.html">READ MORE</a>
      </article>
      <button class="btnShoppingCart">
        <img src="../assets/icons/shopping-bag-icon.svg" alt="shopping-bag-icon">
        <span id="counter">0</span>
      </button>
      <button class="btnLogOut">
        <img class="icon" src="../assets/icons/logout-icon-black.svg" alt="log-out-icon">
      </button>
    </main>
    <footer>
        <div class="links">
            <div>
                <h3>MI CUENTA</h3>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h3>SIGUENOS</h3>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h3>INFORMACIÓN LEGAL</h3>
            <ul>
                <li><p><a href="./legal.html#como-comprar">Como comprar</a></p></li>
                <li><p><a href="./legal.html#envios">Envíos y devoluciones</a></p></li>
                <li><p><a href="./legal.html#avisos">Aviso legal y política de privacidad</a></p></li>
                <li><p><a href="./legal.html#cookies">Política de cookies</a></p></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/sessionScript.js"></script>
    <script src="../js/common.js"></script>
    <!-- <script src="../js/blogs.js"></script> -->
</body>
</html>