<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="icon" href="../assets/images/logo.svg" type="svg">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/blog.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <img class="logo" src="../assets/images/logo.svg" alt="logo">
            <nav class="header-icons">
                <img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon">
                <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div>
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blog.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
      <img src="../assets/icons/cart-icon.svg" alt="buy-icon" class="buy">
      <h1>BLOG</h1>
      <p>Proximamente</p>
    </main>
    <footer>
        <div class="links">
            <div>
                <h2>MI CUENTA</h2>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h2>CONTACTO</h2>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h2>SIGUENOS</h2>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h2>INFORMACIÓN LEGAL</h2>
            <ul>
                <li>Como comprar</li>
                <li>Envíos y devoluciones</li>
                <li>Aviso legal y política de privacidad</li>
                <li>Política de cookies</li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/common.js"></script>
    <script src="../js/blog.js"></script>
</body>
</html>