<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping cart</title>
  <link rel="icon" href="../assets/images/logo.svg" type="svg">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
  <header>
        <div class="logo-header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.svg" alt="logo">
            </a>
            <nav class="header-icons">
                <!-- <a href="../backend/forms/form_login.php"><img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon"></a> -->
                <!-- <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div> -->
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blog.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="../backend/forms/form_login.php"><img src="../assets/icons/profile-icon-black.svg" alt="buy-icon" class="buy"></a>
        <div class="shopping-cart">
          <!-- <p>CARRITO</p> -->

          <article class="cart-item" data-id="1">
            <img class="plush" src="../assets/images/image-plushes/vaquita-lita.svg" alt="peluche-image">
            <div class="quantity">
              <p>LITA</p>
              <div class="quantity-button">
                <span id="quantity-product">1</span>
                <div class="buttons">
                  <button id="btnIncrease">
                    <img src="../assets/icons/chevron-up.svg" alt="up-arrow">
                  </button>
                  <button id="btnDecrease">
                    <img src="../assets/icons/chevron-down.svg" alt="down-arrow">
                  </button>
                </div>
              </div>
            </div>
            <span class="price">12.95€</span>
            <img class="icon remove" src="../assets/icons/close-icon-yellow.svg" alt="remove-icon">
          </article>

          <article class="cart-item" data-id="3">
            <img class="plush" src="../assets/images/image-plushes/floreti.svg" alt="peluche-image">
            <div class="quantity">
              <p>FLORETI</p>
              <div class="quantity-button">
                <span id="quantity-product">1</span>
                <div class="buttons">
                  <button id="btnIncrease">
                    <img src="../assets/icons/chevron-up.svg" alt="up-arrow">
                  </button>
                  <button id="btnDecrease">
                    <img src="../assets/icons/chevron-down.svg" alt="down-arrow">
                  </button>
                </div>
              </div>
            </div>
            <span class="price">12.95€</span>
            <img class="icon remove" src="../assets/icons/close-icon-yellow.svg" alt="remove-icon">
          </article>

          <article class="cart-item" data-id="2">
            <img class="plush" src="../assets/images/image-plushes/gina.svg" alt="peluche-image">
            <div class="quantity">
              <p>GINA</p>
              <div class="quantity-button">
                <span id="quantity-product">1</span>
                <div class="buttons">
                  <button id="btnIncrease">
                    <img src="../assets/icons/chevron-up.svg" alt="up-arrow">
                  </button>
                  <button id="btnDecrease">
                    <img src="../assets/icons/chevron-down.svg" alt="down-arrow">
                  </button>
                </div>
              </div>
            </div>
            <span class="price">12.95€</span>
            <img class="icon remove" src="../assets/icons/close-icon-yellow.svg" alt="remove-icon">
          </article>

        </div>
        <div class="continue-shopping">
          <button>
            <img src="../assets/icons/left-arrow-violet.svg" alt="return-icon">
            CONTINUAR COMPRANDO
          </button>
        </div>
    </main>
    <footer>
        <div class="links">
            <div>
                <h3>MI CUENTA</h3>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h3>SIGUENOS</h3>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h3>INFORMACIÓN LEGAL</h3>
            <ul>
                <li><p><a href="./legal.html">Como comprar</a></p></li>
                <li><p><a href="./legal.html">Envíos y devoluciones</a></p></li>
                <li><p><a href="./legal.html">Aviso legal y política de privacidad</a></p></li>
                <li><p><a href="./legal.html">Política de cookies</a></p></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/common.js"></script>
    <script src="../js/cart.js"></script>
</body>
</html>