<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información Legal</title>
  <link rel="icon" href="../assets/images/logo.svg" type="svg">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/legal.css">
</head>
<body>
  <header>
        <div class="logo-header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.svg" alt="logo">
            </a>
            <nav class="header-icons">
                <!-- <a href="../backend/forms/form_login.php"><img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon"></a> -->
                <!-- <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div> -->
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blogs.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="../backend/forms/form_login.php"><img src="../assets/icons/profile-icon-black.svg" alt="buy-icon" class="buy"></a>
        <div class="como-comprar">
          <h1>COMO COMPRAR</h1>
          <p>Comprar en Boci es sencillo: eliges tus peluches, añades al carrito, rellenas tus datos y confirmas el pedido.</p>
          <p>Es necesario registrarse para gestionar pedidos y facturas. Solo pedimos loas datos imprescindibles.</p>
          <ul>
            <li><p>Todos los precios incluyen IVA.</p></li>
            <li><p>Las medidas de los peluches son orientativas y pueden varia ligeramente.</p></li>
          </ul>
          <p>Los pagos se realizan a través de pasarelas seguras (https/TPV virtual). Boci no almacena datos de tarjeta. Formas de pago aceptadas:</p>
          <p>Podrás pedir la factura por email a X.</p>
        </div>
        <div class="envios">
          <h1>ENVÍOS Y DEVOLUCIONES</h1>
          <ul>
            <li><p>Zonas de envío: X</p></li>
            <li><p>Costes y plazos de entrega se muestran antes de finalizar la compra.</p></li>
            <li><p>Te enviaremos email con confirmación y número de seguimiento.</p></li>
          </ul>
          <p>Si no estás en casa, la agencia gestionará un nuevo intento de entrega o recogida en delegación.</p>
          <p>Devoluciones y derecho de desistimiento:</p>
          <ul>
            <li><p>Plazo: 14 días naturales desde la recepción.</p></li>
            <li><p>El producto debe devolverse sin usar, con etiquetas y, si es posible, embalaje original.</p></li>
            <li><p>Gastos de devolución: a cargo del cliente, salvo error o defecto de Boci.</p></li>
          </ul>
          <p>Para devoluciones, contacta con X indicando tu número de pedido.</p>
          <p>Garantías</p>
          <p>En caso de producto defectuoso podrás solicitar reparación, sustitución o rebaja del precio, según la legislación vigente. Los gastos derivados, cuando proceda, serán a cargo de Boci.</p>
          <p>Resoluciones y litigios comercio electrónico</p>
          <p>Plataforma europea de resolución de litigios online:</p>
          <p><a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=ES">https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=ES</a></p>
        </div>
        <div class="avisos">
          <h1>AVISO LEGAL Y POLÍTICAS DE PRIVACIDAD</h1>
          <p>Titular del sitio web: X</p>
          <p>Denominación social: X</p>
          <p>Nombre comercial: Boci</p>
          <p>Domicilio: X</p>
          <p>CIF/NIF: X</p>
          <p>Teléfono: X</p>
          <p>Email: X</p>
          <p>Datos registrales: X</p>
          <p>Página web: X</p>
          <p>El uso de esta web implica la aceptación de estas condiciones y de la normativa aplicable. Boci puede modificar en cualquier momento los contenidos y condiciones de la web. Boci no se hace responsable del uso indebido del sitio, de contenidos de terceros enlazados ni de interrupciones del servicio por causas ajenas a la empresa. Todos los contenidos (textos, imágenes, logotipos, diseños) son propiedad de Boci o de terceros autorizados y están protegidos por la normativa de propiedad intelectual. Queda prohibida su reproducción sin autorización</p>
        </div>
        <div class="cookies">
          <h1>POLÍTICA DE COOKIES</h1>
          <p>Boci utiliza cookies propias y de terceros con fines técnicos y estadísticos, y en su caso, publicitarios. Al navegar por la web o aceptar el aviso, aceptas su uso. Puedes configurar tu navegador para bloquear o eliminar cookies según sus instrucciones.</p>
          <p>Proveedores que pueden instalar cookies:</p>
          <ul>
            <li><p>Analítica web: X</p></li>
            <li><p>Herramientas de soporte / chat / publicidad: X</p></li>
          </ul>
          <p>Para más información o para ejercer sus derechos relacionados con datos y cookies, puedes escribir a X.</p>
        </div>
        <button class="btnShoppingCart">
            <img src="../assets/icons/shopping-bag-icon.svg" alt="shopping-bag-icon">
            <span id="counter">0</span>
        </button>
        <button class="btnLogOut">
            <img class="icon" src="../assets/icons/logout-icon-black.svg" alt="log-out-icon">
        </button>
    </main>
    <footer>
        <div class="links">
            <div>
                <h3>MI CUENTA</h3>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h3>SIGUENOS</h3>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h3>INFORMACIÓN LEGAL</h3>
            <ul>
                <li><p><a href="./legal.html">Como comprar</a></p></li>
                <li><p><a href="./legal.html">Envíos y devoluciones</a></p></li>
                <li><p><a href="./legal.html">Aviso legal y política de privacidad</a></p></li>
                <li><p><a href="./legal.html">Política de cookies</a></p></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/sessionScript.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/legal.js"></script>
</body>
</html>