<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="icon" href="../assets/images/logo.svg" type="svg">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/products.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <img class="logo" src="../assets/images/logo.svg" alt="logo">
            <nav class="header-icons">
                <img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon">
                <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div>
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome">INICIO</li>
                <li id="btnProducts">JUGUETES</li>
                <li id="btnAboutUs">SOBRE NOSOTROS</li>
                <li id="btnBlog">BLOG</li>
            </ul>
        </nav>
    </header>
    <main>
        <img src="../assets/icons/cart-icon.svg" alt="buy-icon" class="buy">
        <div class="products">
            <article class="peluches" data-id="1">
                <img src="../assets/images/image-plushes/vaquita-lita.svg" alt="peluche-image">
                <p>LITA</p>
            </article>
            <article class="peluches" data-id="2">
                <img src="../assets/images/image-plushes/gina.svg" alt="peluche-image">
                <p>GINA</p>
            </article>
            <article class="peluches" data-id="3">
                <img src="../assets/images/image-plushes/floreti.svg" alt="peluche-image">
                <p>FLORETI</p>
            </article>
            <article class="peluches" data-id="4">
                <img src="../assets/images/image-plushes/pinçetes.svg" alt="peluche-image">
                <p>PINÇETES</p>
            </article>
            <article class="peluches" data-id="5">
                <img src="../assets/images/image-plushes/quesito-tendre.svg" alt="peluche-image">
                <p>TENDRE</p>
            </article>
            <article class="peluches" data-id="6">
                <img src="../assets/images/image-plushes/deta.svg" alt="peluche-image">
                <p>DETA</p>
            </article>
            <article class="peluches" data-id="7">
                <img src="../assets/images/image-plushes/quesito-semi.svg" alt="peluche-image">
                <p>SEMI</p>
            </article>
            <article class="peluches" data-id="8">
                <img src="../assets/images/image-plushes/neta.svg" alt="peluche-image">
                <p>NETA</p>
            </article>
            <article class="peluches" data-id="9">
                <img src="../assets/images/image-plushes/floquet.svg" alt="peluche-image">
                <p>FLOQUET</p>
            </article>
            <article class="peluches" data-id="10">
                <img src="../assets/images/image-plushes/gueta.svg" alt="peluche-image">
                <p>GUETA</p>
            </article>
            <article class="peluches" data-id="11">
                <img src="../assets/images/image-plushes/quesito-curat.svg" alt="peluche-image">
                <p>CURAT</p>
            </article>
        </div>
    </main>
    <footer>
        <div class="links">
            <div>
                <h2>MI CUENTA</h2>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h2>CONTACTO</h2>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h2>SIGUENOS</h2>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
            <div class="legal">
                <h2>INFORMACIÓN LEGAL</h2>
                <ul>
                    <li>Como comprar</li>
                    <li>Envíos y devoluciones</li>
                    <li>Aviso legal y política de privacidad</li>
                    <li>Política de cookies</li>
                </ul>
            </div>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/products.js"></script>
</body>
</html>