<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" href="../assets/images/logo.svg" type="svg">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/product.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.svg" alt="logo">
            </a>
            <nav class="header-icons">
                <!-- <a href="../backend/forms/form_login.php"><img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon"></a> -->
                <!-- <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div> -->
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blogs.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="../backend/forms/form_login.php"><img src="../assets/icons/profile-icon-black.svg" alt="buy-icon" class="buy"></a>
        <div class="product">
            <div class="product-image">
                <div class="show-image">
                    <img src="" alt="product-image">
                </div>
                <div class="perspectives">
                    <img src="" alt="product-image">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>
            <div class="product-info">
                <h1 class="product-name"> PELUCHE QUESITO &apos;SEMI&apos;</h1>
                <span class="price">12.95€</span>
                <div class="characteristics">
                    <p>Ref.</p>
                    <p>En Stock.</p>
                    <p>CARACTERISTICAS</p>
                    <p class="product-description">Peluche cuña de queso semi. Disponible en naraja y amarillo. Tamaño 12 cm x 9 cm x 10 cm</p>
                </div>
                <div class="quantity">
                    <p>CANTIDAD</p>
                    <div class="quantity-button">
                        <span id="quantity-product">1</span>
                        <div class="buttons">
                            <button id="btnIncrease">
                                <img src="../assets/icons/chevron-up.svg" alt="up-arrow">
                            </button>
                            <button id="btnDecrease">
                                <img src="../assets/icons/chevron-down.svg" alt="down-arrow">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="add-to-cart">
                    <button>
                        <img src="../assets/icons/shopping-cart-white.svg" alt="shopping-cart-icon">
                        AÑADIR AL CARRITO
                    </button>
                </div>
            </div>
        </div>
        <div class="others">
            <!-- <div class="title"> -->
                <p>TAMBIÉN PODRÍA INTERESARTE</p>
            <!-- </div> -->
            <div class="scroll-menu">
                <div class="scrollbar">
                    <button class="scroll-left">
                        <img class="arrow left" src="../assets/icons/left-arrow-green.svg" alt="left-arrow-icon">
                    </button>
                    <div>
                        <ul>
                            <li class="scrollbarItem">
                                <img src="../assets/images/image-plushes/old/neta.svg" alt="neta-push-image">
                                <p>NETA</p>
                            </li>
                            <li class="scrollbarItem">
                                <img src="../assets/images/image-plushes/old/floquet.svg" alt="floquet-push-image">
                                <p>FLOQUET</p>
                            </li>
                            <li class="scrollbarItem">
                                <img src="../assets/images/image-plushes/old/gueta.svg" alt="güeta-push-image">
                                <p>GÜETA</p>
                            </li>
                            <li class="scrollbarItem">
                                <img src="../assets/images/image-plushes/old/quesito-semi.svg" alt="semi-push-image">
                                <p>SEMI</p>
                            </li>
                            <li class="scrollbarItem">
                                <img src="../assets/images/image-plushes/old/quesito-curat.svg" alt="curat-push-image">
                                <p>CURAT</p>
                            </li>
                        </ul>
                    </div>
                    <button class="scroll-right">
                        <img class="arrow right" src="../assets/icons/right-arrow-green.svg" alt="right-arrow-icon">
                    </button>
                </div>
            </div>
        </div>
        <button class="btnShoppingCart">
            <img src="../assets/icons/shopping-bag-icon.svg" alt="shopping-bag-icon">
            <span id="counter">0</span>
        </button>
    </main>
    <footer>
        <div class="links">
            <div>
                <h3>MI CUENTA</h3>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h3>SIGUENOS</h3>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h3>INFORMACIÓN LEGAL</h3>
            <ul>
                <li><p><a href="./legal.html">Como comprar</a></p></li>
                <li><p><a href="./legal.html">Envíos y devoluciones</a></p></li>
                <li><p><a href="./legal.html">Aviso legal y política de privacidad</a></p></li>
                <li><p><a href="./legal.html">Política de cookies</a></p></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/sessionScript.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/product.js"></script>
</body>
</html>