<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="icon" href="../assets/images/logo.svg" type="svg">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/products.css">
</head>
<body>
    <header>
        <div class="logo-header">
            <a href="../index.html">
                <img class="logo" src="../assets/images/logo.svg" alt="logo">
            </a>
            <nav class="header-icons">
                <!-- <a href="../backend/forms/form_login.php"><img class="icon" src="../assets/icons/profile-icon-black.svg" alt="profile-icon"></a> -->
                <div class="search-bar">
                    <img class="icon" src="../assets/icons/search-icon-black.svg" alt="search-icon">
                </div>
            </nav>
        </div>
        <nav class="header-menu">
            <ul>
                <li id="btnHome"><a href="../index.html">INICIO</a></li>
                <li id="btnProducts"><a href="./products.html">JUGUETES</a></li>
                <li id="btnAboutUs"><a href="./about.html">SOBRE NOSOTROS</a></li>
                <li id="btnBlog"><a href="./blogs.html">BLOG</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <a href="../backend/forms/form_login.php"><img src="../assets/icons/profile-icon-black.svg" alt="buy-icon" class="buy"></a>
        <div class="products">
            <!-- have to retrieve all of products from the database and build the products screen, they need an A tag between article and image/p -->
            <article class="peluches" data-id="1">
                <img src="../assets/images/image-plushes/old/vaquita-lita.svg" alt="peluche-image">
                <p>LITA</p>
            </article>
            <article class="peluches" data-id="2">
                <img src="../assets/images/image-plushes/old/gina.svg" alt="peluche-image">
                <p>GINA</p>
            </article>
            <article class="peluches" data-id="3">
                <img src="../assets/images/image-plushes/old/floreti.svg" alt="peluche-image">
                <p>FLORETI</p>
            </article>
            <article class="peluches" data-id="4">
                <img src="../assets/images/image-plushes/old/pincetes.svg" alt="peluche-image">
                <p>PINCETES</p>
            </article>
            <article class="peluches" data-id="5">
                <img src="../assets/images/image-plushes/old/quesito-tendre.svg" alt="peluche-image">
                <p>TENDRE</p>
            </article>
            <article class="peluches" data-id="6">
                <img src="../assets/images/image-plushes/old/deta.svg" alt="peluche-image">
                <p>DETA</p>
            </article>
            <article class="peluches" data-id="7">
                <img src="../assets/images/image-plushes/old/quesito-semi.svg" alt="peluche-image">
                <p>SEMI</p>
            </article>
            <article class="peluches" data-id="8">
                <img src="../assets/images/image-plushes/old/neta.svg" alt="peluche-image">
                <p>NETA</p>
            </article>
            <article class="peluches" data-id="9">
                <img src="../assets/images/image-plushes/old/floquet.svg" alt="peluche-image">
                <p>FLOQUET</p>
            </article>
            <article class="peluches" data-id="10">
                <img src="../assets/images/image-plushes/old/gueta.svg" alt="peluche-image">
                <p>GÜETA</p>
            </article>
            <article class="peluches" data-id="11">
                <img src="../assets/images/image-plushes/old/quesito-curat.svg" alt="peluche-image">
                <p>CURAT</p>
            </article>
        </div>
        <button class="btnShoppingCart">
            <img src="../assets/icons/shopping-bag-icon.svg" alt="shopping-bag-icon">
            <span id="counter">0</span>
        </button>
        <button class="btnLogOut">
            <img class="icon" src="../assets/icons/logout-icon-black.svg" alt="log-out-icon">
        </button>
    </main>
    <footer>
        <div class="links">
            <div>
                <h3>MI CUENTA</h3>
                <p>Acceder a Mi Cuenta</p>
            </div>
            <div>
                <h3>CONTACTO</h3>
                <p>bocijuguetes@gmail.com</p>
            </div>
            <div>
                <h3>SIGUENOS</h3>
                <img class="icon" src="../assets/icons/instagram-icon.svg" alt="instagram-icon">
            </div>
        </div>
        <div class="legal">
            <h3>INFORMACIÓN LEGAL</h3>
            <ul>
                <li><p><a href="./legal.html">Como comprar</a></p></li>
                <li><p><a href="./legal.html">Envíos y devoluciones</a></p></li>
                <li><p><a href="./legal.html">Aviso legal y política de privacidad</a></p></li>
                <li><p><a href="./legal.html">Política de cookies</a></p></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 Boci. Todos los derechos reservados.</p>
    </footer>
    <script src="../js/sessionScript.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/products.js"></script>
</body>
</html>